.wrapper {
  height: 100%;
  display: flex;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.sliderContent {
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.slide {
  height: 80%;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .sliderContent {
    width: 80%;
  }
}
